body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff5ee;
  background-color: #696969;
 }
a {
  color: #ff5ee;  
}
h5,
h3,
h2,
h1 {
  font-size: 80px;
  font-weight: bold;
  color: teal;
}

header {
   width: 100%;
   height: 69px;
   position: fixed;
   border-bottom: 1px solid seashell;
   background-color: 2f4f4f;
   z-index: 1;
   align-items: center;
}
nav,
nav span {
  display: inline-block;
}
#contact,
#experience,
#experience .employer,
#experience .duties,
#education,
#education span,
#skills,
#skills .skillslist,

  





